@import "config/configApp.var";

/*
Draw Box
Contour d'une boite progressive.
*/

$border-color: $COLOR-GREY;
$draw-box-duration: 2.5s;
$q-draw: $draw-box-duration/4;

.contentDocu {
  border: solid 1px transparent;
  position: relative;
  padding: 10px;

  &::before,
  &::after {
    content: '';
    width: 0;
    z-index: -100;
    height: 0;
    position: absolute;
    border: solid 1px transparent;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &::before {
    border-top-color: $border-color;
    border-right-color: $border-color;
    transition:
      width $q-draw ease-out,
      height $q-draw ease-out $q-draw;
  }

  &::after {
    border-bottom-color: $border-color;
    border-left-color: $border-color;
    transition:
      border-color 0s ease-out 2*$q-draw,
      width $q-draw ease-out 2*$q-draw,
      height $q-draw ease-out 3*$q-draw;
  }
}

.contentDocu-active {
  &::before,
  &::after {
    width: 100%;
    height: 100%;
  }
}